@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
}



/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
  background-color: rgb(211, 211, 211);
  height: 3000px;
}

/* 개별영역 */


/* header */
.header {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  background-color: brown;
}

h1 {
  position: absolute;
  top: 35px;
  left: 64px;
  display: block;

}
.logo {
  position: relative;
  display: block;
  width: 216px;
  height: 30px;
  background: url('../images/logo_white.svg') no-repeat center;
  background-size: cover;
}
.allmenu-bt {
  position: absolute;
  top: 38px;
  right: 64px;
  display: block;
  width: 24px;
  height: 24px;
  background: url('../images/ico_allmenu_white.svg') no-repeat center;
  background-size: cover;
  
  border: 0;
}
/* /// header */