@charset "utf-8";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
}


/* 공통 영역 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

section {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1312px;
  padding: 0 48px;
}

h4 {
  position: relative;
  display: block;
  font-family: "Mark Pro";
  font-size: 32px;
  font-weight: 800;
  line-height: 1.3;
  color: #000;
}

.main-title {
  position: relative;
  display: inline-block;
  font-family: "Mark Pro";
  font-size: 96px;
  font-weight: 800;
  line-height: 1;
  color: #000;
}

.main-title::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d50037;
  margin: 0 0 0 16px;
}

.main-subtxt {
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 24px;
  color: #000;
}

.main-basictxt {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: #534d49;
}

/* base sw-contorl */
.base_sw-control {
  position: relative;
  display: block;
  width: 400px;
  height: 56px;
  background-color: #000;

  z-index: 99;
}

.swiper-button-next::after {
  content: '';
  display: block;
  background: url('../images/ico_arrow_right.svg') no-repeat center;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.swiper-button-prev::after {
  content: '';
  display: block;
  background: url('../images/ico_arrow_left.svg') no-repeat center;
  background-size: cover;
  width: 24px;
  height: 24px;
}



/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
  background-color: rgb(211, 211, 211);
}


/* 개별영역 */

/* <!-- ===== quick bt ===== --> */
.quick-bt {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 191px;
  height: 72px;
  border-radius: 72px;
  background-color: rgba(213, 0, 55, 0.9);
  z-index: 9;
}

.quick-bt>em {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  margin-right: 12px;
  color: #fff;
  white-space: nowrap;
}

.quick-bt>span {
  position: relative;
  display: block;
  width: 37px;
  height: 37px;
  background: url('../images/ico_gift\ box.svg') no-repeat center;
  background-size: cover;
}

/* <!-- /// ===== quick bt ===== --> */


/* ===== header ===== */
.header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 9999;

  overflow: hidden;
  transition: all 0.3s;
}

.header-open {
  height: 424px;
  background-color: #fff;
}

h1 {
  position: absolute;
  top: 35px;
  left: 64px;
  display: block;

}

.logo {
  position: relative;
  display: block;
  width: 216px;
  height: 30px;
  background: url('../images/logo_white.svg') no-repeat center;
  background-size: cover;
}

.logo-open {
  background: url('../images/logo_black.svg') no-repeat center;
  background-size: cover;
}

.allmenu-bt {
  position: absolute;
  top: 38px;
  right: 64px;
  display: block;
  width: 24px;
  height: 24px;
  background: url('../images/ico_allmenu_white.svg') no-repeat center;
  background-size: cover;
  border: 0;
  cursor: pointer;
}

.allmenu-bt-open {
  background: url('../images/ico_allmenu_black.svg') no-repeat center;
  background-size: cover;
}

.maingnb-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 424px;
  /* background-color: burlywood; */
}


/* depth 1 */

.maingnb-depth-1 {
  position: relative;
  display: block;
  height: 100%;
  margin: 0 auto;
}

.maingnb-depth-1>li {
  position: relative;
  display: block;
  margin-left: 64px;
  float: left;
  height: 100%;
}

.maingnb-depth-1>li:first-child {
  margin-left: 0;
}

.maingnb-depth-1>li>a {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  padding: 37px 0;
  color: #fff;
}

.maingnb-depth1_li_a-open {
  color: #000;
}


/* depth 2 */

.maingnb-depth-2>li {
  position: relative;
  display: block;
  margin-top: 16px;
}

.maingnb-depth-2>li:first-child {
  margin-top: 0;
}

.maingnb-depth-2>li>a {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}


/* depth 3 */

.maingnb-depth-3>li {
  margin-top: 8px;
}

.maingnb-depth-3>li>a {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #707070;
}

/* ///===== header ===== */


/* ===== all menu ===== */
.allmenu-wrap {
  position: fixed;
  top: 0;
  left: 100%;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #222;
  z-index: 9999;
  padding-left: 352px;
  opacity: 0;

  transition: all 0.3s;
}

.allmenu-wrap-open {
  left: 0;
  opacity: 1;
}

.allmenu-close-bt {
  position: absolute;
  top: 38px;
  right: 64px;
  display: block;
  width: 24px;
  height: 24px;
  background: url('../images/ico_allmenu_white_x.svg') no-repeat center;
  background-size: cover;
  border: 0;
  cursor: pointer;
}



.allmenugnb-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.allmenugnb-wrap a {
  white-space: nowrap;
}

.allmenu-depth-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.allmenu-depth-1>li {
  position: relative;
  display: block;
  margin-top: 40px;
}

.allmenu-depth-1>li:first-child {
  margin-top: 0;
}

.allmenu-depth-1>li>a {
  position: relative;
  display: block;
  font-size: 48px;
  font-weight: 800;
  line-height: 71px;
  color: #fff;
}




.allmenu-depth-2 {
  position: absolute;
  left: 600px;
  display: block;
}

.allmenu-depth-2>li {
  margin-top: 32px;
}

.allmenu-depth-2>li:first-child {
  margin-top: 0;
}

.allmenu-depth-2>li>a {
  position: relative;
  display: block;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #fff;
}

.d2-1 {
  top: 24px;
}

.d2-2 {
  top: -87px;
}

.d2-3 {
  top: -198px;
}

.d2-4 {
  top: -309px;
}

.d2-5 {
  top: -420px;
}

.d2-6 {
  top: -531px;
}


.allmenu-depth-3 {
  position: relative;
  display: block;
  margin-top: 24px;
  padding-bottom: 8px;
}

.allmenu-depth-3>li {
  margin-top: 16px;
}

.allmenu-depth-3>li:first-child {
  margin-top: 0;
}

.allmenu-depth-3>li>a {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 36px;
  color: #ccc;
}



.side-info-txt {
  position: absolute;
  bottom: 152px;
  right: 64px;
  display: block;
}

.side-info-txt li {
  position: relative;
  display: block;
  margin-top: 20px;
  text-align: right;
}

.side-info-txt li:first-child {
  margin-top: 32px;
}

.side-info-txt li a {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  color: #999;
}

.side-info-ico {
  position: absolute;
  bottom: 80px;
  right: 61px;
  display: flex;
}

.side-info-ico li {
  position: relative;
  display: block;
  margin-left: 16px;
}

.side-info-ico li a {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
}

.facebook-icon {
  background: url('../images/ico_facebook.svg') no-repeat center;
  background-size: cover;
}

.instagram-icon {
  background: url('../images/ico_instagram.svg') no-repeat center;
  background-size: cover;
}

.youtube-icon {
  background: url('../images//ico_youtube.svg') no-repeat center;
  background-size: cover;
}

/* /// ===== all menu ===== */


/* ===== pag 1 ===== */
.pag-1 {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
}

.swiper-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.visual-slide-img1 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/main-visual-img-1.jpg') no-repeat center;
  background-size: cover;
}

.visual-slide-img2 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/main-visual-img-2.jpg') no-repeat center;
  background-size: cover;
}

.visual-swiper-contorl {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 240px;
  height: 56px;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 56px;
  z-index: 9;
}

.sw-visual-pg {
  position: absolute;
  left: 0;
  bottom: 16px;
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #999;
}

.swiper-pagination-current {
  color: #fff;
}

/* /// ===== pag 1 ===== */


/*  ===== pag 2 ===== */
.pag-2 {
  position: relative;
  overflow: hidden;
}

.pag-2 .inner {
  z-index: 9;
}

.pag-2-txtbox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.pag-2-txtbox a {
  margin-top: 80px;
}

.pag2-mainsubtxt {
  position: relative;
  display: none;
  font-size: 16px;
  margin-bottom: 20px;
}

.pag2-mainsubtxt-focus {
  display: block;
}

.pag2-mainh4 {
  display: inline-block;
  line-height: 1;
  opacity: 0.5;
}

.pag2-mainh4-focus {
  border-bottom: 3px solid #000;
  opacity: 1;
}

/* swiper */
.slide-hs-container {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 488px;
  /* background-color: pink; */
}

.sw-hs {
  position: absolute;
  top: 0;
  left: 45%;
  width: 100%;
  height: 488px;
  /* background-color: #f5ce3e; */
}

.sw-hs-slide {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 176px;
  height: 176px;
}

.sw-hs-slide img {
  width: 100%;
  height: 100%;
}

.sw-hs-slide-active {
  width: 488px;
  height: 488px;
}

/* sw-contorl */
.sw-pag2-contorl {
  position: absolute;
  bottom: -28px;
  left: 905px;
  display: block;
  z-index: 999;
}
.sw-pag2-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  line-height: 56px;
}

/* /// ===== pag 2 ===== */



/*  ===== pag 3 ===== */
.pag-3 {
  background: url('../images/pag-3.bg.jpg') no-repeat center;
  background-size: cover;
}

.pag3-maintitle {
  font-family: "Noto Sans KR";
}

.pag3-mainh4 {
  margin-top: 70px;
  margin-bottom: 40px;
}

.pag3-mainsubtxt {
  margin-bottom: 16px;
}

.pag3-main-basictxt {
  width: 42%;
}

/* /// ===== pag 3 ===== */



/*  ===== pag 4 ===== */
.pag-4 {
  background-color: #fff;
}
.pag-4 .inner {
  top: 27%;
  z-index: 99;
}


/* swiper */
.sw-pag4 {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 550px;
  /* background-color: #f5ce3e; */
}

.pag4-slide-wrap {
  position: relative;
  display: flex;
  width: 975px;
  height: 550px;

  background-color: #fff;
}

/* left */
.pag4-slide-left {
  position: relative;
  display: block;
  width: 590px;
  height: 100%;

}

.pag4-slide-left span {
  position: absolute;
  bottom: 95px;
  left: -35px;
  display: inline-block;

  font-size: 16px;
  font-weight: 400;
  color: #000;

  transform: rotate(-90deg);
}

.pag4-slide-left span::before {
  content: '';
  position: absolute;
  top: 15px;
  left: -50px;
  display: block;
  width: 40px;
  height: 1px;

  background-color: #000;
}

.pag4-slide-left img {
  position: relative;
  display: block;
  width: 550px;
  height: 550px;

  margin-left: 40px;
}

/* right */
.pag4-slide-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 380px;
  height: 100%;

  padding-left: 70px;
}

.pag4-slide-right img {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;

  margin-bottom: 24px;
}

.pag4-slide-right a {
  position: relative;
  display: block;

  margin-bottom: 32px;
}

.pag4-slide-right a strong {
  position: relative;
  display: inline-block;

  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  color: #000;

  border-bottom: 2px solid #000;
}

.pag4-slide-right a strong::after {
  content: '';
  position: absolute;
  top: 0px;
  right: -45px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../images/ico_arrow_right_black.png') no-repeat center;
  background-size: cover;
}

.pag4-slide-right p {
  position: relative;
  display: block;

  font-size: 18px;
  color: #333;
  margin-bottom: 112px;
}

/* pag4 control */
.sw-pag4-contorl {
  position: absolute;
  bottom: 0;
  left: 665px;

  width: 310px;

  z-index: 9999;
}

.sw-pag4-pg {
  top: 16px;
  font-size: 16px;
  font-weight: 600;
}

/* /// ===== pag 4 ===== */



/*  ===== pag 5 ===== */
.pag-5 {
  background-color: #f5f5f5;
}

.pag-5 .inner {
  text-align: center;
}

.pag-5 .pag5-mainh4 {
  font-size: 24px;
  font-weight: 700;
  margin: 32px 0;
}

.pag-5 .pag5-main-basictxt {
  color: #333;
}

.gotobox {
  position: relative;
  display: block;
  margin-top: 48px;
}

.gotobox a {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 65px;
  padding: 0 24px;
  text-align: left;
  border: 2px solid #000;
  background-color: #fff;
}

.gotobox a:first-child {
  margin-right: 16px;
}

.gotobox a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  background-color: #000;

  transition: all 0.5s;
}

.gotobox a:hover::before {
  width: 100%;
}

.gotobox a:hover span {
  color: #fff;
}

.gotobox a:hover span::after {
  background: url('../images/ico_arrow_right_white.png') no-repeat center;
}

.gotobox a span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 65px;
  white-space: nowrap;
  transition: all 0.4s;
}

.gotobox a span::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../images/ico_arrow_right_black.png') no-repeat center;
  background-size: cover;
}

/* clonecode */
.main-franchise {

  text-align: center;
}

.container {
  position: relative;
  z-index: 1;
  text-align: center;
}

.main-franchise-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.main-franchise-dot {
  display: flex;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  right: -100%;
}

.main-franchise-dot i {
  display: flex;
  opacity: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  animation: franchiseDotAni 14s linear 0s infinite;
}

.main-franchise-dot-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-franchise-dot-1 {
  top: 15vh;
  animation: franchiseDotMove 24s ease-in-out 0s infinite;
}

.main-franchise-dot-2 {
  top: 45vh;
  animation: franchiseDotMove 24s ease-in-out 3s infinite;
}

.main-franchise-dot-3 {
  top: 30vh;
  animation: franchiseDotMove 24s ease-in-out 6s infinite;
}

.main-franchise-dot-4 {
  top: 55vh;
  animation: franchiseDotMove 24s ease-in-out 9s infinite;
}

.main-franchise-dot-5 {
  top: 25vh;
  animation: franchiseDotMove 24s ease-in-out 12s infinite;
}

.main-franchise-dot-6 {
  top: 65vh;
  animation: franchiseDotMove 24s ease-in-out 15s infinite;
}

.main-franchise-dot-7 {
  top: 45vh;
  animation: franchiseDotMove 24s ease-in-out 18s infinite;
}

.main-franchise-dot-8 {
  top: 75vh;
  animation: franchiseDotMove 24s ease-in-out 21s infinite;
}

.main-franchise-item {
  position: absolute;
  top: 50%;
  left: 50%;
}

.main-franchise-item-wrap {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(-200%, 0);
  animation: franchiseAni 80s linear 0s infinite;
  align-items: flex-start;
}

.main-franchise-item-wrap-duplic {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(-200%, 0);
  animation: franchiseAni 80s linear 62s infinite;
  align-items: flex-start;
}

.main-franchise-item dl {
  position: relative;
}

.main-franchise-item dl dt {
  display: inline-flex;
  position: relative;
  z-index: 1;
  overflow: hidden;
  top: 20px;
  left: 105px;
  width: auto;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 32px;
  border-bottom-left-radius: 0;
  padding: 0 16px;
  background-color: rgba(213, 0, 55, 0.68);
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

.main-franchise-item dl dd {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.main-franchise-item dl dd img {
  display: block;
  width: auto;
  max-width: auto;
  height: 100%;
}

.main-franchise-item-1 {
  top: 10%;
  left: 0;
}

.main-franchise-item-2 {
  top: 30%;
  left: 30vw;
}

.main-franchise-item-3 {
  top: 70%;
  left: 60vw;
}

.main-franchise-item-4 {
  top: 20%;
  left: 90vw;
}

.main-franchise-item-5 {
  top: 60%;
  left: 120vw;
}

.main-franchise-item-6 {
  top: 40%;
  left: 150vw;
}

.main-franchise-item-7 {
  top: 70%;
  left: 180vw;
}

.main-franchise-item-8 {
  top: 20%;
  left: 210vw;
}

.main-franchise-item-9 {
  top: 60%;
  left: 240vw;
}

.main-franchise-item-10 {
  top: 30%;
  left: 270vw;
}

/* //  ani */
@keyframes franchiseDotWrap {
  0% {
      opacity: 0;
  }
  80% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes franchiseDotAni {
  0% {
      opacity: 0;
      transform: scale(0.5);
  }
  20% {
      opacity: 1;
      transform: scale(1);
  }
  40% {
      opacity: 0.5;
      transform: scale(0.8);
  }
  60% {
      opacity: 1;
      transform: scale(1);
  }
  80% {
      opacity: 0.5;
      transform: scale(0.6);
  }
  100% {
      opacity: 0;
      transform: scale(1);
  }
}
@keyframes franchiseDotMove {
  0% {
      right: -20%;
  }
  100% {
      right: 120%;
  }
}
@keyframes franchiseAni {
  0% {
      /* // transform: translate(55vw, 0); */
      transform: translate(100%, 0);
  }
  100% {
      /* // transform: translate(-100vw, 0); */
      transform: translate(-300%, 0);
  }
}
/* /// clonecode */

/* /// ===== pag 5 ===== */




/*  ===== pag 6 ===== */
.pag-6 {
  background-color: #fff;
}

.pag6-sw-control {
  position: relative;
  display: block;
  margin: 48px 0 80px;
}

.pag6-pg {
  position: relative;
  display: inline-block;
}

.pag6-sw-control span {
  position: relative;
  display: inline-block;
  height: 34px;
  margin: 0 20px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  outline-style: none;
}

.pag6-sw-control .swiper-pagination-bullet {
  width: 80px;
  background-color: #fff;
  border-radius: 0;
  opacity: 1;
}

.pag6-sw-control .swiper-pagination-bullet-active {
  color: #d50037;
  border-bottom: 2px solid #d50037;
}

.pag6-sw-control span:first-child {
  margin-left: 0;
}

.pag6-bgimg {
  position: relative;
  display: block;
  width: 320px;
  height: 203px;
  background: url('../images/main_news_illust.svg') no-repeat center;
  background-size: cover;
}

/* swiper */
.sw-pag6 {
  position: absolute;
  top: 10px;
  right: 50px;
  display: block;
  width: 600px;
  height: 550px;
  /* background-color: brown; */
}


/* news */
.news-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: coral; */
}

.news-wrap ul {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.news-wrap ul li {
  position: relative;
  display: block;
  width: 100%;
  height: 20%;
  padding: 40px;
  border-bottom: 1px solid #ebebeb;
}

.news-wrap ul li p {
  position: relative;
  display: block;

  z-index: 1;
  transition: all 0.35s;
}

.news-wrap ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #222;

  transition: all 0.35s;
}

.news-wrap ul li:hover::before {
  width: 100%;
}

.news-wrap ul li:hover p {
  color: #fff;
}


/* notice */
.notice-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
}

.notice-wrap ul {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.notice-wrap ul li {
  position: relative;
  display: block;
  width: 100%;
  height: 33.33%;

  border-bottom: 1px solid #ebebeb;
}

.txt-container {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 40px;
}

.txt-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #222;

  transition: all 0.35s;
}

.txt-container em {
  position: relative;
  display: block;
  font-size: 16px;
  color: #d50037;

  margin-bottom: 17px;
}

.txt-container strong {
  position: relative;
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 1;

  white-space: nowrap;
  overflow: hidden;

  margin-bottom: 13px;
}

.txt-container span {
  position: relative;
  display: block;
  font-size: 16px;
  color: #333;

}

.txt-container:hover::before {
  width: 100%;
}

.txt-container:hover strong {
  color: #fff;
}

.txt-container:hover span {
  color: #fff;
}

/* /// ===== pag 6 ===== */



/*  ===== pag 7 ===== */
.footer {
  position: relative;
  display: block;
  height: 526px;
  background-color: #222;
}

.footer-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 140px;
}

.footer-top-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-top-left li a {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.footer-top-left li a:hover {
  border-bottom: 1px solid #fff;
}

.footer-top-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-top-right dl dt {
  position: relative;
  display: block;

  font-size: 16px;
  font-weight: 600;
  color: #fff;

  margin-bottom: 6px;
}

.footer-top-right dl dd {
  position: relative;
  display: block;

  font-size: 14px;
  font-weight: 400;
  color: #777;
}

.footer-top-right dl dd span:first-child {
  margin-right: 20px;
}

.footer-bottom {
  position: relative;
  display: block;
  width: 100%;
  height: 242px;

  margin-top: 48px;
  padding-top: 48px;

  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.info-nav {
  position: relative;
  display: flex;

  margin-bottom: 20px;
}

.info-nav li {
  position: relative;
  display: inline-block;
  margin-right: 40px;
}

.info-nav li a {
  position: relative;
  display: block;

  font-size: 14px;
  font-weight: 600;
  color: #fff;

  border-bottom: 1px solid transparent;
}

.info-nav li a:hover {
  border-bottom: 1px solid #fff;
}

.info-nav li:nth-child(2) a {
  color: #f5ce3e;
}

.footer-bottom p {
  position: relative;
  display: block;

  font-size: 14px;
  font-weight: 400;
  color: #777;

  margin-bottom: 10px;
  opacity: 0.9;
}

.footer-bottom p span {
  position: relative;
  display: inline-block;
  margin: 0 13px;
}

.footer-bottom .copyright {
  font-size: 12px;
}

.footer-bottom .side-info-ico {
  position: absolute;
  bottom: 5px;
  right: 0;
}

/* /// ===== pag 7 ===== */